
/* root */
/* --color-1:	#4c84ac;	
--color-2:	#a7bbf8;	
--color-3:	#cdb3ba;	
--color-5:	#7a0a0a;	
--color-4:	#f04c4b;	
--color-6:	#445360; */
:root{

    --color-1:	#0081A7;	
    --color-2:	#00AFB9;	
    --color-3:	#FED9B7;	
    --color-4:	#FDFCDC;	
    --color-5:	#F07167;	
    --color-6: #D65B51;
}

/* customize  scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-4);
    border-radius: 2em;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-1);
  }


 a{
    text-decoration: none;
    color: var(--color-2);
 }

.navbar>*{
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

.navbar-collapse>*{
    display: flex;
    justify-items: center;
    align-items: center;
}

.navbar-collapse>*>*{
    margin: 1em;
    width:max-content;
}

.nav-btns>.btn-light{
    color: var(--color-4) !important;
}
.nav-btns>.btn-light:hover{
    transform: scale(1.05);
}

.nav-btns>.btn-light:active{
    transform: scale(0.95);
}

.brand{
    /* background: linear-gradient(to right,var(--color-4), var(--color-5), var(--color-2),var(--color-3));
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text; */
            color: var(--color-4);
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
    align-items: center;
}

.brand:hover{
    color: var(--color-4);
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
}
.style-primary{
    background-color: var(--color-1) !important;
    color: var(--color-4) !important;
}

.style-secondary{
    background-color: var(--color-2) !important;
    border-radius: 2em;
    color: var(--color-4) !important;
    font-weight: bold;
}

.style-secondary:hover{
    transform: scale(1.05);
    color: var(--color-4) !important;
    border-bottom: 1px solid var(--color-2) !important;
}

.style-primary-btn{
    background-color: var(--color-1) !important;
    color: var(--color-4) !important;
    font-style: italic;
    font-weight: bolder;
}

.style-primary-btn:hover{
    transform: scale(1.05);
    color: var(--color-4) !important;
}

.style-primary-inverted{
    background-color: var(--color-2) !important;
    color: var(--color-1) !important;
    font-weight: bold;
    border-radius: 2em !important;
}

.searchbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-1);
    border-radius: 2em;
    padding: 0.5em;
    margin: 0.5em;

}

.searchbar-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-bottom: 1px solid var(--color-4);
    background-color: var(--color-1);
    color: var(--color-4);
    border-radius: 0;
    padding: 0.5em;
    margin: 0.5em;
    color: var(--color-4);
    transition: none;
    text-align: center;
    font-weight: bolder;
}

.searchbar-form:focus , input:focus{
    border:none;
    border-bottom: 1px solid var(--color-4);
    background-color: initial;
    color: var(--color-4);
    transition: none;
}
.searchbar-form::placeholder{
    color: white;
    font-weight: bolder;
    opacity: 0.5;
}
.nav-slideshow{
    image-rendering: -webkit-optimize-contrast;
}

.event-card{
    background-color: white;
    border: 1px solid var(--color-1);
    padding: 1em;
    overflow-y: auto;
}
.img-square-wrapper{
    z-index: 2;
    width: 326px !important;
    height: 212px !important;
}
.card-img{
    width: 326px !important;
    height: 212px !important;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

  .card-footer{
    background-color: var(--color-3) !important;
  }

  .card-footer>*{
    color: var(--color-5) !important;
  }

  .card-tag{
    position: absolute;
    margin-left: 1em;
    z-index: 2;
    margin-top: -0.55em;
    border-radius: 7px 7px 0em 0em;
    background-color: var(--color-1);
    width: 50px !important;
    min-height: fit-content;
    text-align: center;
    font-weight: bold;
    color: white;
  }

  .card-tag>*{
    margin-bottom: 5px;
  }

  .card-tag-shadow{
    /* position: absolute; */
    z-index: 0;
    position: absolute;
    margin-left: 0.75em;
    margin-top: -0.55em;
    border-radius: 7px;
    color: var(--color-1);
    background-color: var(--color-1);
    filter: brightness(65%);
    
  }
  .card-subtitle{
    display: flex;
  }
  .card-subtitle>*{
    padding: 0px 10px 0px 10px;
    border-left: 1px dashed var(--color-1);
  }

  .card-subtitle>*>*{
    font-weight: 700;
    color: var(--color-1);
    align-self: baseline;
    padding: 5px;
    align-items: center;
  }
  
    .card-subtitle>*>.card-icon{
        transform: scale(3);
    }

    
#profile-edit-form-modal {
    margin-top: 8%;
    min-width: 60vw;
}

.modal-title {
    font-size: 1.2rem;
}

.profile-form-small-notice, #edit-profile-form-required-notice {
    font-size: 0.9rem;
    opacity: 0.7;
}


#save-profile-btn {
    border-radius: 20px;
    background-color: #0a66c2; 
    border: none;
    font-weight: 800;
}
#save-profile-btn:hover {
    background-color: #014d99;
}

.form-label {
    font-size: 0.95rem;
    color: #5a5a5a;
}

#choose-file-btn {
    display: none;
}

#choose-file-label {
    color: #0a66c2;
    border-radius: 20px;
    font-weight: 700;
    font-size: 1rem;
    border-color: #0a66c2;
    padding: 5px 14px;
}

#choose-file-label:hover {
    border-width: 2px;
    background-color: #0073b13a;
    padding: 4px 13px;
}

#plus-icon-add-media {
    transform: translateY(-8%);
}



#pencil-icon-open-edit-form:hover {
    border-radius: 50%;
    animation: blip 0.5s;
}

.title__activity {
    margin-top: 25px;
    display: flex;
    justify-content: start;
    margin-left: 15px;
    margin-right: 13px;
  }
  .about {
    display: flex;
    justify-content: start;
    margin-left: 12px;
    margin-right: 10px;
    margin-bottom: 30px;
  }

  .color-6 , .color-6>* , .color-6>*>* , .color-6>*>*>* , .color-6>*>*>*>* , .color-6>*>*>*>*>* , .color-6>*>*>*>*>*>* , .color-6>*>*>*>*>*>*>* , .color-6>*>*>*>*>*>*>*>* , .color-6>*>*>*>*>*>*>*>*>* , .color-6>*>*>*>*>*>*>*>*>*>* , .color-6>*>*>*>*>*>*>*>*>*>*>* , .color{
    color: var(--color-6);
  }


/* when the scrren size decrease to a phone */
@media screen and (max-width: 980px) {
    .navbar-collapse>*{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .navbar-collapse>*>*{
        width: 100vw;
        margin: 1em;
        width:max-content;
    }
    .searchbar{
        font-weight: bold;
        font-size: small;
        align-items: center;
        
    }
    .searchbar{
        display:none
    }
    .card-subtitle{
        display: block;
      }
      .card-horizontal {
        flex-direction: column;
      }
}

