
/* root */
/* --color-1:	#4c84ac;	
--color-2:	#a7bbf8;	
--color-3:	#cdb3ba;	
--color-5:	#7a0a0a;	
--color-4:	#f04c4b;	
--color-6:	#445360; */
:root{

    --color-1:	#0081A7;	
    --color-2:	#00AFB9;	
    --color-3:	#FED9B7;	
    --color-4:	#FDFCDC;	
    --color-5:	#F07167;	
}

/* customize  scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-4);
    border-radius: 2em;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-1);
  }


 a{
    text-decoration: none;
    color: var(--color-2);
 }

.navbar>*{
    display: flex;
    font-weight: bold;
    justify-content: space-between;
}

.navbar-collapse>*{
    display: flex;
    justify-items: center;
    align-items: center;
}

.navbar-collapse>*>*{
    margin: 1em;
    width:max-content;
}

.nav-btns>.btn-light:hover{
    transform: scale(1.05);
}

.nav-btns>.btn-light:active{
    transform: scale(0.95);
}

.brand{
    background: linear-gradient(to right,var(--color-4), var(--color-5), var(--color-2),var(--color-3));
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
    align-items: center;
}

.brand:hover{
    color: var(--color-4);
    font-weight: bolder;
    font-size: larger;
    font-style: italic;
}
.style-primary{
    background-color: var(--color-1) !important;
    color: var(--color-4) !important;
}

.style-secondary{
    background-color: var(--color-2) !important;
    border-radius: 2em;
    color: var(--color-5) !important;
    font-weight: bold;
}

.style-primary-btn{
    background-color: var(--color-1) !important;
    color: var(--color-4) !important;
    font-style: italic;
    font-weight: bolder;
}

.style-primary-btn:hover{
    transform: scale(1.05);
    color: var(--color-2) !important;
    border-bottom: 1px solid var(--color-2) !important;
}

.style-primary-inverted{
    background-color: var(--color-2) !important;
    color: var(--color-1) !important;
    font-weight: bold;
    border-radius: 2em !important;
}

.searchbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-1);
    border-radius: 2em;
    padding: 0.5em;
    margin: 0.5em;

}

.searchbar-form{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-bottom: 1px solid var(--color-4);
    background-color: var(--color-1);
    color: var(--color-4);
    border-radius: 0;
    padding: 0.5em;
    margin: 0.5em;
    color: var(--color-2);
    transition: none;
    text-align: center;
    font-weight: bolder;
}

.searchbar-form:focus , input:focus{
    border:none;
    border-bottom: 1px solid var(--color-4);
    background-color: initial;
    color: var(--color-4);
    transition: none;
}

.nav-slideshow{
    image-rendering: -webkit-optimize-contrast;
}

.card{
    background-color: var(--color-4);
    border: 1px solid var(--color-1);
    height: 300px;
    padding: 1em;
    overflow-y: auto;
}

.card-img{
    width: 300px !important;
    height: 180px !important;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }

  .card-footer{
    background-color: var(--color-4) !important;
  }



/* when the scrren size decrease to a phone */
@media screen and (max-width: 980px) {
    .navbar-collapse>*{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .navbar-collapse>*>*{
        width: 100vw;
        margin: 1em;
        width:max-content;
    }
    .searchbar{
        font-weight: bold;
        font-size: small;
        align-items: center;
        
    }
}