
:root{
  --color-1:	#0081A7;	
    --color-2:	#00AFB9;	
    --color-3:	#FED9B7;	
    --color-4:	#FDFCDC;	
    --color-5:	#F07167;	
}

 .container-register {
  height: inherit;
  text-align: -webkit-center;
  vertical-align: middle;
  
}
.form-container{
  padding: 2em;
  border: 1px solid var(--color-1);
  border-radius: 10px;
  margin-top: 5vh;
  // center div

}
.logo {
  width: 90px;
  height: 90px;
}



.text-primary,
.form-label {
  color: var(--color-1) !important;
}

.btn-primary {
  background-color: var(--color-1) !important;
  border-color: var(--color-1) !important;

  &:hover {
    background-color: var(--color-4) !important;
    border-color: var(--color-4) !important;
  }
}

.reg-form{
  background-color: var(--color-4);
  border-radius: 5px;
  border: 1px solid var(--color-1);
  color: var(--color-1);
  font-weight: bold;

  &:focus{
    background-color: var(--color-4);
    border-radius: 5px;
    border: 1px solid var(--color-1);
    color: var(--color-1);
    font-weight: bold;
  }

  &::content{
    background-color: var(--color-2);
    border-radius: 5px;
    border: 1px solid var(--color-4);
    color: var(--color-1);
    font-weight: bold;
  }
}


