
:root{

  --color-1:	#0081A7;	
  --color-2:	#00AFB9;	
  --color-3:	#FED9B7;	
  --color-4:	#FDFCDC;	
  --color-5:	#F07167;	
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

#App{
  min-height: 100vh;
}

