
:root{
  --color-1:	#4c84ac;	
  --color-5:	#7a0a0a;	
  --color-2:	#a7bbf8;	
  --color-4:	#f04c4b;	
  --color-3:	#cdb3ba;	
  --color-6:	#445360;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#App{
  min-height: 100vh;
}

